DEBUG=true

BASE_URL=

MONGODB_URL=

JWT_SECRET_KEY=secretKey

PORT=

USER_IMAGE_UPLOAD_PATH=public/images/uploads/users
USER_IMAGE_BASE_PATH=images/uploads/users

DEPARTMENT_IMAGE_UPLOAD_PATH=public/images/uploads/departments
DEPARTMENT_IMAGE_PATH=images/uploads/departments

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

ADMIN_EMAIL=